<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
      
      body{
        font-family: 'Roboto', sans-serif;
        background-color: {{ site.background_color }};
        color: {{ site.text_color }};
        text-align: center;
      }

      img{
        width: 10%;
      }
      
      .container{
        max-width: 1100px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
